:root {
  /***** Colors *****/
  --white: #fff;
  --black: #000;
  --light-black: #253237;
  --format-color: #6B7280;
  --primary-black: #4B5563;
  --gray-darker: #5C6B73;
  --primary-color: #D7BE7B;
  --light-blue: #F3F7F9;
  --border-color-book: #D1D5DB;
  --remove-btn: #FF5252;

  /***** Book Background Colors *****/
  --gray-medium: #9DB4C0;
  --red-brown: #815151;
  --dark-green: #51816A;
  --dark-violet: #525181;
  --light-gray: #C1D3D7;
  --brown: #817151;
  --light-green: #85A194;
  --pastel: #CED0C2;
  --light-brown: #B9AB9E;
}
